body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.wrapper {
  width: 100%;
}

.box {
  float: left;
}

.box:nth-child(1) {
  width: 25%;
  background-color: rgb(190, 139, 139);
}

.box:nth-child(2) {
  width: 25%;
  background-color: rgb(164, 209, 164);
}

.box:nth-child(3) {
  width: 25%;
  background-color: rgb(240, 240, 172);
}

.box:nth-child(4) {
  width: 25%;
  background-color: rgb(177, 187, 245);
}
.heading {
    font-size: 25px;
    color: rgb(21, 38, 134);
    font-weight: bold;
  }
  
.main-heading {
    font-size: 30px;
    color: rgb(163, 17, 90);
    font-weight: bold;
  }
  .point {
    font-size: 22px;
    color: rgb(13, 99, 77);
    font-weight: bold;
  }
  aside {
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: rgb(238, 237, 237);
  }